<head>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/paw-svgrepo-com.svg">
    <title>Grooming Requests</title>
</head>
<main>
    <div>
        <img src="/assets/paw-svgrepo-com.svg" alt="">
        <h1>
            <%=title%>
        </h1>
    </div>
    <div class="grooming-requests-wrapper">
        <% groomingRequests.forEach((groomingRequest, index)=> { %>
            <div class="grooming-request">
                <div>
                    <h3>
                        <%= groomingRequest.dog %> - Grooming Order
                    </h3>
                    <span class="grooming-request-timestamp">
                        <%= groomingRequest.added %>
                    </span>
                </div>
                <a href="http://localhost:3000/grooming-request/<%= index+1%>" class="view-grooming-request">View
                    Request</a>
            </div>
            <% }) %>
                <a href="/grooming-requests" class="new-grooming-request">New Grooming Request</a>
    </div>
</main>